h1 {
    color: red;
    text-shadow: #31ef67 1px 0 10px;
    font-style: italic;
    border-bottom: dashed black;
    padding-bottom: 5px
}
p {
    color: navy;
    border: purple dashed;
    padding: 5px 5px 5px 5px;
    font-style: italic;
}
